<!DOCTYPE html>
<html lang="en" xmlns="http://www/thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Zongza</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <script th:src="@{https://use.fontawesome.com/releases/v6.1.0/js/all.js}" crossorigin="anonymous"></script>
    </head>
    <body class="login-background">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div>
                        <div class="login-header" th:onclick="|location.href='@{/}'|"></div>
                        <div class="row justify-content-center">
                            <div class="col-lg-3-5">
                                <div><h3 class="text-center font-weight-light font-bold my-4-5">로그인 (Log In)</h3></div>
                                <div class="card shadow-lg border-0 rounded-lg">
                                    <div class="card-body">
                                        <form action="/users/login" method="post">
                                            <div class="mb-2">이메일 (Email)</div>
                                            <div class="mb-3">
                                                <input class="form-control" id="inputEmail" type="email" name="email" placeholder="연구소 이메일을 입력해 주세요." required/>
                                            </div>
                                            <div class="mb-2">비밀번호 (Password)</div>
                                            <div class="mb-3">
                                                <input class="form-control" id="inputPassword" type="password" name="password" placeholder="비밀번호를 입력해 주세요." required/>
                                            </div>
                                            <div class="mb-5">
                                                <button class="btn btn-primary width-100" type="submit">로그인 (Log In)</button>
                                            </div>
                                        </form>
                                        <div class="mb-3">
                                            <button class="btn btn-secondary" th:onclick="|location.href='@{/users/password}'|">비밀번호 찾기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{js/scripts.js}"></script>
    </body>
</html>
