<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>종자 상세페이지</title>
</head>
<body>
    <span>ID: </span>
    <span th:text="${seed.id}">aa</span>

    <br>

    <span>국명: </span>
    <span th:text="${seed.name}">aa</span>

    <br>

    <span>도입학명: </span>
    <span th:text="${seed.scientificName}">aa</span>

    <br>

    <span>도입번호: </span>
    <span th:text="${seed.introNum}">aa</span>
</body>
</html>